<div class="navbar-fixed">
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container movetext" href="/" class="brand-logo">ItsaGO</a>
            <ul class="right hide-on-med-and-down section table-of-contents">
                <li><a href="/">Home</a></li>
                <li><a href="logout">Logout</a></li>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a class="active" href="event">New Event</a></li>
                <li><a href="about">About</a></li>
                <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="logout">Logout</a></li>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a class="active" href="event">New Event</a></li>
                <li><a href="about">About</a></li>
                <li><a href="https://github.com/JacqueWhite/Its-a-GO" target="_blank">GitHub</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row fig">
        <div class="col s8">
            <h3>{{this.eventName}}</h3>
            <p> Date: {{this.date}}</p>
            <p> Cost: {{this.totalCost}}</p>
            <p> Cost per person: {{this.maxCPP}}</p>
            <p> Notes: {{this.notes}}</p>
            <br>
            <div class="">
                <h4>Guests:</h4>
                <p>John</p>
                <p>Jacque</p>
                <p>Will</p>
                <p>Jayme</p>
                <p>Mariana</p>
            </div>
        </div>
        <div class="col s2">
            <form action="/api/user/savecc" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_MfMLV8cfYDwI9mWNH5qi0tya" data-amount="{{this.maxCPP}}" data-name="It's a Go" data-description="{{this.eventName}}" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto">
                </script>
            </form>
        </div>
      </div>
</div>
